/* Sidebar.css */
#sidebarl {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 140px; /* Adjust width as needed */
    background-color: #0471a7; /* Example background color with 70% opacity */
    color: #fff; /* Example text color */
}

.sidebarl-title {
    padding: 20px;
    text-align: center;
}

.sidebarl-brand img {
    width: 100px; /* Adjust logo size as needed */
}

.sidebarl-list {
    list-style-type: none;
    padding: 0;
}

.sidebarl-list-item {
    padding: 10px 20px;
}

.sidebarl-list-item a {
    color: #fff;
    text-decoration: none;
}

.sidebarl-list-item a:hover {
    text-decoration: underline;
}

/* Responsive sidebar */
@media (max-width: 768px) {
    #sidebar {
        width: 100%; /* Adjust width for smaller screens */
        background-color: #0471a7; /* Darken background color for smaller screens */
    }

    .sidebar-title {
        padding: 10px; /* Adjust padding for smaller screens */
    }

    .sidebar-brand img {
        width: 80px; /* Adjust logo size for smaller screens */
    }

    .sidebar-list-item {
        padding: 8px 16px; /* Adjust padding for smaller screens */
    }
}
