.details-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center; /* Center align the text */
  }
  
  p {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center; /* Center align the text */
  }
  /* Responsive styles */
@media screen and (max-width: 768px) {
  .details-container {
    max-width: 90%; /* Adjust the max-width for smaller screens */
    padding: 10px; /* Reduce padding for smaller screens */
  }

  h1 {
    font-size: 20px; /* Reduce font size for smaller screens */
  }

  p {
    font-size: 16px; /* Reduce font size for smaller screens */
  }
}