button3 {
    background-color: #d70404;
    color: #fff;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    margin-right: 5px;
    margin-top: 30px;
    border-radius: 50px;
    transition: 0.5s;
}

button4 {
    background-color: #0d510b;
    color: #fff;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    margin-right: 5px;
    margin-top: 30px;
    border-radius: 50px;
    transition: 0.5s;
}

button5 {
    background-color: #67060d;
    color: #fff;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    margin-right: 5px;
    margin-top: 30px;
    border-radius: 50px;
    transition: 0.5s;
}

button6 {
    background-color: #daac05;
    color: #fff;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    margin-right: 5px;
    margin-top: 30px;
    border-radius: 50px;
    transition: 0.5s;
}

/* Profile.css */

.chart-container {
    width: 400px; /* Adjust the width as needed */
    height: 300px; /* Adjust the height as needed */
    margin: 0 auto; /* Center the chart container */
  }
  
  .cardprofile {
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  }
  .card-innerprofile {
    text-align: center;
  }
  
  .card-innerprofile h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .card_icon {
    font-size: 36px;
    color: #0a0b0d; /* Change color as needed */
  }
  
  .cardprofile h1 {
    font-size: 48px;
    color: #333;
    margin-top: 20px;
  }
  .cardprofile:nth-child(3) {
    background-color: #2e7d32;
  }  
/* 2 */

.cardprofile2 {
    width: 200px;
    height: 200px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    }
    .card-innerprofile2 {
      text-align: center;
    }
    
    .card-innerprofile2 h3 {
      font-size: 18px;
      color: #333;
      margin-bottom: 10px;
    }
    
    .card_icon {
      font-size: 36px;
      color: #0a0b0d; /* Change color as needed */
    }
    
    .cardprofile2 h1 {
      font-size: 48px;
      color: #333;
      margin-top: 20px;
    }
    .cardprofile2:nth-child(4) {
      background-color: #811111;
    }  
  

    /* 3 */

.cardprofile3 {
    width: 200px;
    height: 200px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    }
    .card-innerprofile3 {
      text-align: center;
    }
    
    .card-innerprofile3 h3 {
      font-size: 18px;
      color: #333;
      margin-bottom: 10px;
    }
    
    .card_icon {
      font-size: 36px;
      color: #0a0b0d; /* Change color as needed */
    }
    
    .cardprofile3 h1 {
      font-size: 48px;
      color: #333;
      margin-top: 20px;
    }
    .cardprofile3:nth-child(5) {
      background-color: #dfcc23;
    }  

    /* 4 */

.cardprofile4 {
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  }
  .card-innerprofile4 {
    text-align: center;
  }
  
  .card-innerprofile4 h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .card_icon {
    font-size: 36px;
    color: #0a0b0d; /* Change color as needed */
  }
  
  .cardprofile4 h1 {
    font-size: 48px;
    color: #333;
    margin-top: 20px;
  }
  .cardprofile4:nth-child(6) {
    background-color: #67079b;
  }  
  

/* Add this CSS to your existing Home.css or create a new CSS file */

/* Style for the button9 */
button9 {
    background-color: #0c0651;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button9:hover {
    background-color: #091e35;
  }
  
  /*  */
  /* Profile.css */

.profile-container {
    text-align: center;
  }
  
  .card-row {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .cardprofile{
    width: 200px;
    height: 200px;
    background-color: #2e7d32;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .cardprofile2{
    width: 200px;
    height: 200px;
    background-color: #811111;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .cardprofile3 {
    width: 200px;
    height: 200px;
    background-color: #dfcc23;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .cardprofile4 {
    width: 200px;
    height: 200px;
    background-color: #6a0a97;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .cardprofile h1,
  .cardprofile2 h1,
  .cardprofile3 h1
  .cardprofile4 h1 {
    font-size: 36px;
    color: #333;
  }
  
  .card-innerprofile,
  .card-innerprofile2,
  .card-innerprofile3,
  .card-innerprofile4 {
    text-align: center;
  }
  
  .card_innerprofile h3,
  .card_innerprofile2 h3,
  .card_innerprofile3 h3,
  .card_innerprofile3 h4 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .card_icon {
    font-size: 36px;
    color: #030507;
  }
  
  .update-profile-button {
    background-color: #081d34;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .update-profile-button:hover {
    background-color: #08182a;
  }
  